/* Mobile Device */
@media screen and (max-width: 425px) {
  .navbar-container {
    flex-direction: column;
  }
  .menu-container ul {
    flex-direction: column;
  }
  .login-btn {
    width: 100vw;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-text {
    width: 100%;
  }
  .banner-img {
    width: 100%;
  }
  .banner-text h3 {
    font-size: 2.5em;
  }
  .banner-text h6 {
    font-size: 2em;
  }
  .icons .fa-brands {
    font-size: 1.5em;
  }
  .products-container {
    grid-template-columns: 1fr;
    padding: 1em;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }

  .discount-container {
    flex-direction: column;
  }
  .discount-text{
    padding: 1em;
  }
  .discount-img,
  .discount-text {
    width: 100%;
  }
}
